* {
	margin:0;
	padding:0;
}
.conteiner {
	max-width: 1920px; 
	margin: 0 auto; 
	background-color: #f7f7f7;
}
.header-homepage{
	width: 1127px;
	height: 113px;
	position: relative;
	z-index: 1;
	margin: 35px auto;
}
.banner{
	width: 1920px;
	height: 850px;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: -185px;
}
.search{
	display: block;
	width: 350px;
	height: 29px;
	margin-left: 775px;
	margin-top: -120px;
	border-bottom: 1px solid #333b45;
	margin-left: 758px;
}
/* .search p{
	border-bottom: 1px solid #333b45;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 10px;
} */
.search input{
	/* border-bottom: 1px solid #333b45; */
	font-family: 'Roboto Slab', serif;
	padding-bottom: 10px;
	background: transparent;
	border: none;
	width: 290px;
	font-size: 16px;
	color: #324950;
}
.search i{
	margin-left: 0px;
	display: block;
	margin-top: -3px;
	font-size: 18px;
}
.search .glass{
	width: 35px;
	height: 35px;
	background: transparent;
	border: none;
	position: absolute;
	top: -10px;
	left: 1073px;	
}
.search .glass, .search i:hover{
	cursor: pointer;
}
.inform{
	margin-left: 555px;
	margin-top: 40px;
}
.inform a{
	text-decoration: none;
	font-family: 'Heebo', sans-serif;
	color: #324950;
	font-size: 18px;
	margin-left: 20px;
}
.agridera{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: #735440;
	margin-top: 265px;
}
.button{
	width: 160px;
	height: 55px;
	background: #57984C;
	align-items: center;
	margin: 60px auto;
}
.btn{
	text-decoration: none;
	align-items: center;
	display: inline-block;
	padding: 18px 35px;
	color: white;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.btn:hover{
	color: #735440;
}
.prod{
	width: 1920px;
}
.disc{
	height: 1265px;
	background-image: url("img/Union.png");
	background-size: 1930px auto;
	background-repeat: no-repeat;
	margin-top: 30px;
}
.header2{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 64px;
	color: #324950;
}
.header2::after{
	margin-top: 40px;
	margin-bottom: 40px;
	clear: left;
	content: "*****";
	display: block;
	font-size: 25px;
	color: #57984C;
}
.paragraph{
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 20px;
	color: #324950;
	line-height: 142.7%;
}
.prod2{
	filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.disc2{
	float: left;
	position: relative;
	top: 83px;
	left: 395px;
}
.disc3{
	float: right;
	top: 765px;
	position: relative;
	left: 235px;
}
.disc2,.disc3{
	width: 500px;
	height: 275px;
}
.img2{
	float: right;
	position: relative;
	top: -18px;
	right: 360px;
}
.img3{
	float: left;
	position: relative;
	top: 305px;
	left: 355px;
}
.specification1{
	width: 268px;
	display: inline-block;
	position: relative;
	top: 50px;
	left: 85px;
}
.specification2{
	width: 269px;
	display: inline-block;
	position: relative;
	top: 50px;
}
.specification3{
	width: 321px;
	display: inline-block;
	position: relative;
	top: 50px;
	left: -180px;
}
.h2{
	text-align: center;
	padding-top: 60px;
}
.activities{
	height: 638px;
	background-color: #ededed;
}
.act{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 24px;
	color: #57984C;
	text-align: center;
}
.line{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 183px;
	text-align: center;
	color: #57984C;
}
.l1,.l2{
	margin-left: 45px;
}
.l3{
	margin-left: 70px;
}
.actdisc{
	text-align: center;
}
.img5{
	position: relative;
	top: -60px;
	left: 405px;
}
.img4{
	position: relative;
	top: -111px;
	left: 250px;
}
.img1{
	position: relative;
	top: -60px;
	left: 317px;
	left: 140px;
}
.social {
	display: flex;
	position: absolute;
	right: 100px;
	transform: translate(-50%, -50%);
	top: 39px;
}
.social li{
	list-style: none;
}
  
.social li a{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 32px;
	font-size: 17px;
	margin: 0 13px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #57984C;
	z-index: 1;
	text-decoration: none;
}
.fa-brands {
	color: #57984C;
}
.footer{
	height: 76px;
	background-color: #2D3F45;
	position: relative;
}
.contact{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 142.7%;	
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 45px;
}
.contacts{
	position: relative;
	top: 27px;
	left: 360px;
}
.information{
	height: 50px;
	background-color: #324950;
}
.inf2020{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 142.7%;
	color: #B9B9B9;
	position: relative;
	top: 15px;
}
.banner2{
	width: 1920px;
	height: 480px;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: -15px;
}
.conteiner2{
	max-width: 1920px; 
	margin: 0 auto; 
	background-color: white;
}
.content{
	height: 2244px;
	background-color: #fcf0f0;
	padding: 0 385px;
}
.content p{
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: #324950;
}
.fresh_market{
	font-size: 44px;
	padding-top: 65px;
}
.fresh_market::after{
	font-size: 20px;
}
.marked{
	margin-top: 20px;
	margin-bottom: 20px;
	border-left: 4px solid #EB5757;
	height: 60px;
	padding-top: 5px;
}
.paragraph2{
	margin-left: 25px;
}
.description{
	height: 450px;
	width: 1125px;
	background-color: #FFFAFA;
}
.num{
	width: 350px;
	display: inline-block;
	margin-left: 16px;
	vertical-align: top;
	margin-top: 50px;
}
.caption{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 20px;
	line-height: 142.7%;
	color: #324950;
}
.underline{
	color: #324950;
	margin-top: 20px;
	margin-bottom: 20px;
}
.depiction{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 17px;
	line-height: 150%;
	color: #324950;
}
.mrk2{
	height: 40px;
}
.group{
	height: 51px;
	width: 350px;
	display: inline-block;
	position: relative;
}
.grp{
	max-width: 100%;
}
.depict{
	height: 70px;
	background-color: white;
	position: absolute;
	z-index: 2;
	margin-top: -73px;
	width: 350px;
}
.group2{
	margin-left: 30px;
}
.mrgn{
	margin-top: 30px;
}
.hdr{
	text-align: center;
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 20px;
	line-height: 142.7%;
	color: #57984C;
	margin-top: 10px;
}
.prgf{
	text-align: center;
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 16px;
	line-height: 142.7%;
	color: #57984C;
}