* {
	margin:0;
	padding:0;
}
/* img{
	width: 100%;
} */
.conteiner {
	max-width: 1920px; 
	margin: 0 auto; 
	background-color: #f7f7f7;
}
.indbanner{
	width: 100%;
}
.header-homepage{
	/* max-width: 1127px;
	height: 113px;
	position: relative;
	z-index: 1;
	margin: 35px auto; */
	max-width: 1127px;
    height: 113px;
    position: relative;
    z-index: 1;
    padding: 1.8% 18%;
}
.banner{
	max-width: 1920px;
	height: 850px;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: -185px;
}
.search{
	display: block;
	width: 31%;
	height: 29px;
	margin-left: 775px;
	margin-top: -120px;
	border-bottom: 1px solid #333b45;
	margin-left: 67%;
}
/* .search p{
	border-bottom: 1px solid #333b45;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 10px;
} */
.search input{
	/* border-bottom: 1px solid #333b45; */
	font-family: 'Roboto Slab', serif;
	padding-bottom: 10px;
	background: transparent;
	border: none;
	width: 90%;
	font-size: 16px;
	color: #324950;
}
.search i{
	margin-left: 0px;
	display: block;
	margin-top: -3px;
	font-size: 18px;
}
.search .glass{
	width: 3%;
	height: 32%;
	background: transparent;
	border: none;
	position: absolute;
	top: 11%;
	left: 77.5%;	
}
.search .glass, .search i:hover{
	cursor: pointer;
}
.inform{
	margin-left: 48%;
	margin-top: 5%;
}
.inform a{
	text-decoration: none;
	font-family: 'Heebo', sans-serif;
	color: #324950;
	font-size: 18px;
	margin-left: 20px;
}
.agridera{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	color: #735440;
	margin-top: 24%;
}
.button{
	width: 14%;
	/* height: 55px; */
	background: #57984C;
	align-items: center;
	margin: 60px auto;
}
.btn{
	text-decoration: none;
	align-items: center;
	display: inline-block;
	padding: 18px 35px;
	color: white;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.btn:hover{
	color: #735440;
}
.prod{
	max-width: 1920px;
}
.disc{
	height: 1265px;
	background-image: url("img/Union.png");
	/* background-size: 1930px auto; */
	background-repeat: no-repeat;
	margin-top: 2%;
}
.header2{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 64px;
	color: #324950;
}
.header2::after{
	margin-top: 40px;
	margin-bottom: 40px;
	clear: left;
	content: "*****";
	display: block;
	font-size: 25px;
	color: #57984C;
}
.paragraph{
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 20px;
	color: #324950;
	line-height: 142.7%;
}
.prod2{
	filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.disc2{
	float: left;
	position: relative;
	top: 7%;
	left: 21%;
}
.disc3{
	float: right;
	top: 60%;
	position: relative;
	left: 12%;
}
.disc2,.disc3{
	width: 26%;
	height: 22%;
}
.img2{
	float: right;
	position: relative;
	top: -2%;
	right: 18.7%;
	width: 33%;
}
.img3{
	float: left;
	position: relative;
	top: 24%;
	left: 18%;
	width: 33%;
}
.specification1{
	width: 14%;
	display: inline-block;
	position: relative;
	top: 8%;
	left: 4.5%;
}
.specification2{
	width: 14%;
	display: inline-block;
	position: relative;
	top: 8%;
    left: 0.2%;
}
.specification3{
	width: 17%;
	display: inline-block;
	position: relative;
	top: 8%;
	left: -9.4%;
}
.h2{
	text-align: center;
	padding-top: 3%;
}
.activities{
	height: 638px;
	background-color: #ededed;
}
.act{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 24px;
	color: #57984C;
	text-align: center;
}
.line{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 68%;
	text-align: center;
	color: #57984C;
}
.l1,.l2,.l3{
	margin-left: 16%;
}
.actdisc{
	text-align: center;
}
.img5{
	position: relative;
	top: -7%;
	left: 21%;
	width: 17%;
}
.img4{
	position: relative;
	top: -14%;
	left: 14%;
	width: 12%;
}
.img1{
	position: relative;
	top: -9%;
	left: 317px;
	left: 8%;
	width: 15%;
}
.social {
	display: flex;
	position: absolute;
	right: 6%;
	transform: translate(-50%, -50%);
	top: 52%;
}
.social li{
	list-style: none;
}
  
.social li a{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 32px;
	font-size: 17px;
	margin: 0 13px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #57984C;
	z-index: 1;
	text-decoration: none;
}
.fa-brands {
	color: #57984C;
}
.footer{
	height: 76px;
	background-color: #2D3F45;
	position: relative;
}
.contact{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 142.7%;	
	color: #FFFFFF;
	text-decoration: none;
	margin-left: 2.5%;
}
.contacts{
    /* position: absolute;
    top: 34%;
	left: 19%;
    width: 95%; */
	padding-top: 1.3%;
    padding-left: 20%;

}
.information{
	height: 50px;
	background-color: #324950;
}
.inf2020{
	text-align: center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 142.7%;
	color: #B9B9B9;
	position: relative;
	top: 35%;
}
.banner2{
	width: 1920px;
	height: 480px;
	margin-left: auto; 
	margin-right: auto; 
	margin-top: -15px;
}
.conteiner2{
	max-width: 1920px; 
	margin: 0 auto; 
	background-color: white;
}
.content{
	height: 2244px;
	background-color: #fcf0f0;
	padding: 0 385px;
}
.content p{
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: #324950;
}
.fresh_market{
	font-size: 44px;
	padding-top: 65px;
}
.fresh_market::after{
	font-size: 20px;
}
.marked{
	margin-top: 20px;
	margin-bottom: 20px;
	border-left: 4px solid #EB5757;
	height: 60px;
	padding-top: 5px;
}
.paragraph2{
	margin-left: 25px;
}
.description{
	height: 450px;
	width: 1125px;
	background-color: #FFFAFA;
}
.num{
	width: 350px;
	display: inline-block;
	margin-left: 16px;
	vertical-align: top;
	margin-top: 50px;
}
.caption{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 20px;
	line-height: 142.7%;
	color: #324950;
}
.underline{
	color: #324950;
	margin-top: 20px;
	margin-bottom: 20px;
}
.depiction{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 17px;
	line-height: 150%;
	color: #324950;
}
.mrk2{
	height: 40px;
}
.group{
	width: 350px;
	display: inline-block;
	position: relative;
}
.grp{
	max-width: 100%;
}
.depict{
	height: 70px;
	background-color: white;
	position: absolute;
	z-index: 2;
	margin-top: -73px;
	width: 350px;
}
.depict a{
	text-decoration: none;
}
.group2{
	margin-left: 30px;
}
.mrgn{
	margin-top: 30px;
}
.hdr{
	text-align: center;
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 20px;
	line-height: 142.7%;
	color: #57984C;
	margin-top: 10px;
}
.prgf{
	text-align: center;
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 16px;
	line-height: 142.7%;
	color: #57984C;
}
.content2{
	background-color: #f7f7f7;
	background-image: url(img/Union2.png);
	background-size: 1332px auto;
    background-repeat: no-repeat;
	background-position-y: -20px;
	background-position-x: center;
	margin-top: 30px;
	height: 1215px;
}
.iarr, .parr{
	display: inline-block;
	margin-top: 20px;
	color: #57984C;
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 14px;
}
.one_content{
	width: 1110px;
	margin: 0 auto;
	position: relative;
}
.one_title{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 54px;
	line-height: 142.7%;
	color: #324950;
	margin-top: 30px;
}
.header2{
	color: #57984C;
	font-weight: 700;
	font-size: 54px;
}
.one_img{
	position: absolute;
    top: 80px;
    left: 581px;
}
.red, .veryhigh{
	display: inline-block;
}
.veryhigh{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 30px;
	line-height: 142.7%;
	color: #CF2333;
	margin-left: 20px;
}
.act2{
	text-align: left;
	margin-top: 35px;
	font-size: 20px;
	margin-top: 35px;
    margin-bottom: 15px;
}
.l4{
	width: 183px;
}
.p2{
	font-size: 17px;
}
.characteristic{
	margin-left: 21px;
}
.characteristic li{
	color: #57984C;
}
.characteristic span{
	color: #324950;
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 17px;
	line-height: 200%;
}
.circle_color{
	position: absolute;
	top: 682px;
    left: 583px;
}
.icon{
	width: 225px;
	height: 55px;
	border: 2px solid #57984C;
	border-radius: 60px;
	position: absolute;
    top: 615px;
    left: 895px;
}
.icon a{
	text-decoration: none;
}
.icon p{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 17px;
	line-height: 53px;
	color: #57984C;
	margin-left: 75px;
	display: inline-block;
}
.icon img{
	position: absolute;
	top: 5px;
    left: 5px;
	margin-left: 25px;
}
.icon img{
	display: block;
	margin-top: 6px;
}
.arrow{
	text-decoration: none;
}
.list_style{
	list-style-type: none;
}
.characteristic2{
	margin-left: 0;
}
.conteiner3{
	max-width: 1920px; 
	margin: 0 auto; 
	background-color: white;
}
.content3{
	height: 1025px;
	background-color: #f7f7f7;
	padding: 0 400px;
}
.h3{
	font-size: 44px;
	color: #324950;
	padding-top: 50px;
}
.h3::after{
	font-size: 25px;
	margin-top: 25px;
    margin-bottom: 25px;
}
.contacts2 label{
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: #324950;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}
.contacts2{
	position: relative;
}
.contacts2 input,.contacts2 select{
	width: 350px;
	height: 55px;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 10px;
	display: block;
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: #324950;
}
.right{
	position: absolute;
	top: 0;
	left: 480px;
}
.w635{
	width: 635px !important;
	height: 55px !important;
}
.intrested{
	width: 634px;
	height: 369px;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 10px;
}
.code{
	display: inline-block !important;
}
.inpcode{
	width: 225px !important;
	height: 55px !important;
}
.btn_send{
	width: 255px;
	height: 55px;
	left: 1260px;
	top: 1520.5px;
	background: #57984C;
	border-radius: 60px;
	border: none;
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 17px;
	line-height: 200%;
	color: #FFFFFF;
	position: absolute;
	top: 715px;
    left: 855px;
}
.adress{
	height: 250px;
}
.paddress{
	font-family: 'Roboto Slab';
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	text-align: center;
	color: #324950;
	margin-top: 40px;
}
.paddress a{
	color: #57984C;
	text-decoration: none;
}
.contadr{
	text-align: center;
	padding-top: 25px;
}
.adr{
	position: relative;
}
.l5{
	position: absolute;
	top: 45px;
    left: 868px;
}
.btn_send:hover{
	cursor: pointer;
}
.products{
	height: 190px;
	background-color: white;
	/* display: inline-block; */
}
.vectprod{
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 142.7%;
	color: #324950;
}
.vect{
	display: inline-block;
	box-sizing: border-box;
	padding-top: 2.5%;
	margin-left: 6%;
}
.imgvect3,.imgvect5,.imgvect6{
	padding-left: 14%;
}
.imgvect1{
	padding-left: 30%;
}
.imgvect2,.imgvect7{
	padding-left: 35%;
}
.imgvect4{
	padding-left: 40%;
}